<!DOCTYPE html>
<html>
    <head>
        <title>ESChill</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
        <div id="landing-header">
            <h1 style="font-size: 600%;">Hello ES peeps!</h1>
            <hr>
            <a href="/posts" class="btn btn-lg btn-primary" style="font-size: 300%; padding: 20px;">Go Chilling!</a>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

<%- include("partials/footer")%>