<%- include("../partials/header")%>
<%- include("../partials/navbar")%>

<div class="container">
    <div class="jumbotron pt-3 pb-3 mt-3 mb-3">
        <div class="container">
          <h1 class="display-4" style="text-align: center;">New Post</h1>
        </div>
    </div>

    <div class="row">
        <div style="width: 30%; margin: 30px auto;">
            <form action="/posts" enctype="multipart/form-data" method="POST">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input class="form-control" type="text" name="title" id="title" placeholder="Enter Title">
                </div>
                <div class="form-group">
                    <label for="pic">Upload Picture:</label>
                    <input class="form-control" type="file" name="pic" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input class="form-control" type="text" name="desc" id="description" placeholder="">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
        </div>
    </div> 
</div>

<%- include("../partials/footer")%>